name: Coverage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allow job to be triggered manually.
  workflow_dispatch:

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  run:
    name: Check code coverage
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      OS: "ubuntu-latest"
      PYTHON: "3.12"
    steps:
      - name: Acquire sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@v6

      - name: Install project
        run: uv sync --frozen --group test

      - name: Run tests, with coverage
        run: |
          uv run pytest --cov=bquest tests/
          uv run coverage xml

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          file: ./coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: false
