name: Release

on:
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
    steps:
      - name: Acquire sources
        uses: actions/checkout@v5 # zizmor: ignore[artipacked]

      - run: git fetch origin gh-pages:gh-pages

      - uses: astral-sh/setup-uv@v5
          
      - name: Configure Git user
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
      - run: uv sync --only-group docs
      - run: uv run mike deploy v$(uvx --from=toml-cli toml get --toml-path=pyproject.toml project.version) latest --update-aliases --push

  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Acquire sources
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@v6

      - name: Build
        run: uv build

      - name: Publish
        run: uv publish