name: Tests

permissions:
    id-token: write
    contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allow job to be triggered manually.
  workflow_dispatch:

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  integration-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10", "3.11", "3.12"]
        include:
          - os: "macos-latest"
            python-version: "3.12"
          - os: "windows-latest"
            python-version: "3.12"
    defaults:
      run:
        shell: bash
    name: Python ${{ matrix.python-version }} on OS ${{ matrix.os }}
    steps:
      - name: Acquire sources
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Google Auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GOOGLE_IDENTITY_PROVIDER }}
          service_account: bquest-sa@${{ secrets.GOOGLE_PROJECT_ID }}.iam.gserviceaccount.com
          project_id: ${{ secrets.GOOGLE_PROJECT_ID }}

      - uses: astral-sh/setup-uv@v6

      - name: Install project
        run: uv sync --frozen --group test

      - name: Unit tests
        run: uv run poe test_unit

      - name: Integration tests
        if: ${{ ! github.event.pull_request.head.repo.fork }}
        run: uv run poe test_integration || [[ $? -eq 5 ]]  # allow zero pytest tests if not authed with Google Cloud